.commercial {
  &__information {
    max-width: 288px;
    font-size: $font-size-medium;
    line-height: $line-height-medium;
    letter-spacing: 0.2px;
    font-family: $font-regular;
    margin-bottom: 16px;

    @media (min-width: $screen-tablet) {
      max-width: 420px;
    }
  }


  &__offer {
    font-size: $font-size-regular;
    max-width: 192px;
    display: block;
    position: relative;
    text-decoration: none;  
    @media (min-width: $screen-tablet) {
      max-width: 320px;
    }
  }

  &__arrow {
    display: inline-block;
    outline: none;
    border: none;
    width: 6px;
    height: 24px;
    background: url('../img/commercial_arrow.png') transparent no-repeat 50% 50%;
    margin-left: 8px;
    position: absolute;
  }
}