.modal-feedback {
  margin-left: 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  height: -webkit-fill-available;
  z-index: 12;
  overflow: auto;

  @media (min-width: 1440px) {
    min-width: 440px;
    max-width: 440px; 
    position: fixed;
    overflow: inherit;
  }

  &--hidden { 
    display: none;
  }

  &__button {
    outline: none;
    border: none;
    margin-top: 24px;
    margin-left: 16px;

    @media (min-width: 1440px) {
      position: absolute;
      left: -98px;
      margin-top: 32px;
    }


    &--back {
      background-image: url('../img/back.png');
      margin-right: 16px;
      margin-left: 24px;
    }
    
    &-order {
      background: url('../img/play.png') #FF3E79 no-repeat;
      border-radius: 16px;
      outline: none;
      border: none;
      @include borderless;
      width: 119px;
      height: 32px;
      background-position: 87%;
      position: absolute;
      bottom: 8%;
      right: 5%;
      text-transform: uppercase;
      font-family: 'TT Lakes Medium';
      font-weight: 700;
      letter-spacing: 0.8px;
      font-size: 12px;
      line-height: 24px;
      color: white;
      padding-left: 12px;
      text-align: left;

      @media (min-width: 1440px) {
        bottom: 38%;
        right: -22%;
      }
    }
  }

  &__header {
    outline: none;
    border: none;

    &--h1 {
      color: #1B1C21; 
      position: relative;
      font-family: 'TT Lakes Bold';
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.6px;
      background-color: transparent;
      margin-top: 40px;
      margin-bottom: 8px;
      margin-left: 16px;

      &::before {
        width: 4px;
        height: 40px;
        content: '';
        display: inline-block;
        background: #41F6D7;
        border-radius: 2px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        position: absolute;
        left: -16px;
        top: -7px;
      }   
    }
  }

  &__data {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    width: 290px;
    height: 50px;
    padding: 12px;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC;
    margin: 16px;

    @media (min-width: 1440px) {
      width: 380px;
    }
    
    &--last-element {
      height: 120px;
    }
  }

  &__privacypolicy {
    position: relative;
    height: 150px;
    max-width: 320px;

    &-text {
      font-family: 'TT Lakes';
      font-size: 14px;
      line-height: 16px;
      color: #7E7E82;
      margin: 0 16px;
      width: 360px;
    }

    &__colortext {
      color: red;
      font-family: 'TT Lakes';
      font-size: 14px;
      line-height: 16px;
    }
  }
}
