
.button-icon {
  border-radius: 50%;
  background-color: #FF3E79;
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;

  &--chel {
    background-image: url('../img/chel.png')
  }
  
  &--sms {
    background-image: url('../img/sms.png')
  }
  
  &--phone {
    background-image: url('../img/phone.png');

    @media (min-width: 768px) {
      margin-left: auto;
    }
  }

  &--back {
    background-image: url('../img/back.png');
    margin-right: 16px;
    margin-left: 24px;
  }

  &--search {
    background-image: url('../img/search.png');
    margin-right: 24px;
    margin-left: auto;
  }

  &--header {
    margin-right: 16px;
  }

  &--burger {
    background-image: url('../img/burger.png');
    margin-right: 0;

    @media (min-width: 768px) {
      margin-left: 0;
    }

    @media (min-width: 1120px) {
      margin-right: 0;
    }
  }

  &--repair {
    background-image: url('../img/repair.png');
  }

  &--left {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    margin-left: 17px;
    display: none;
  }

  &--checkstatus {
    background-image: url('../img/checkstatus.png');
  }
}