.swiper {
  &-pagination-bullets.swiper-pagination-horizontal {
    bottom: inherit;
  }
  
  &-pagination-bullet-active {
    background: #B5B6BC; 
  }
  
  &-pagination-bullet{
    height: 12px;
    width: 12px;
  }
  
}