.title {
  &__button {
    background-color: transparent;
    display: flex;
    outline: none;
    border: none;
    align-items: center;

    & + & {
      margin-left: 32px;
    }
  }
  
  &__checkstatus, &__repair {
    margin-left: 8px;
  }

  &__checkstatus {
    @media (min-width: $screen-tablet) {
      margin-right: 32px;
    }
  }

  &__buttons_container {
    display: none;

    @media (min-width: $screen-square) {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
}