.body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: #F2F2F2;

  &__container {
    max-width: $screen-laptop;
    
    @media (min-width: $screen-laptop) {
      display: flex;
      margin: 0 auto;
    }
  }

  &__content {
    display: block;
    max-width: $screen-square;

    &--blur {
      filter: opacity(0.4) blur(8px);
      position: fixed;
    }

    @media (min-width: $screen-laptop) {
      margin-left: 320px;;
    }
  }
}