.prices {
  margin-left: 0;

  &__header {
    padding: 16px;
    background: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
  }

  &__text {
    color: #7E7E82;
    text-transform: uppercase;
    background-color: transparent;

    &-header {
      background-color: transparent; 
      color: #7E7E82;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__goods {
    display: flex;

    &-list {
      width: 260px;
      min-width: 260px;
      max-width: 260px;
      height: 200px;
      background-color: #FFFFFF;
      border-radius: 6px;
      margin: 16px 8px 16px 8px;
      position: relative;
      display: grid;
      padding: 16px;
      align-content: space-between;
    }
  }

  &__list {
    font-size: 14px;
    line-height: 18px;
  }

  &__button {
    background-image: url('../img/play.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    background-color: #FF3E79;
    outline: none;
    border: none;
    width: 119px;
    height: 32px;
    background-position: 90%;
    position: absolute;
    bottom: 8%;
    right: 5%;

      &--white{
        color: white;
        margin-left: -20px;
      }
  }
}