.prices {
  margin-left: 0;
  margin-top: 25px;

  &__header {
    padding: 16px;
    background: linear-gradient(270deg, $background-header-color 0%, #F8F8F8 98.61%);
  }

  &__text {
    color: $text-color-muted;
    text-transform: uppercase;
    background-color: transparent;
    font-family: $font-regular;

    &-header {
      background-color: transparent; 
      color: $text-color-muted;
      font-size: $font-size-medium;
      line-height: $line-height-privacy-policy;
    }
  }

  &__goods {
    display: flex;
    padding-bottom: 25px;

    @media (min-width: $screen-tablet) {
      display: none;
    }

    &-list {
      width: 260px;
      min-width: 260px;
      max-width: 260px;
      height: 200px;
      background-color: $background-header-color;
      border-radius: 6px;
      margin: 16px 0 16px 16px;
      position: relative;
      display: grid;
      padding: 16px;
      align-content: space-between;

      &:last-child {
        margin-right: 16px;
      }
    }
  }

  &__list {
    font-size: $font-size-medium;
    line-height: 18px;
  }

  &__button {
    background: url('../img/play.png') $background-icon-color no-repeat;
    border-radius: 16px;
    outline: none;
    border: none;
    @include borderless;
    width: 119px;
    height: 32px;
    background-position: 87%;
    position: absolute;
    bottom: 8%;
    right: 5%;
    text-transform: uppercase;
    font-family: $font-medium;
    font-weight: 700;
    letter-spacing: 0.8px;
    font-size: 12px;
    line-height: $line-height-regular;
    color: white;
    padding-left: 12px;
    text-align: left;
  }
}