.section {
  margin-top: 24px;
  justify-content: space-between;

  @media (min-width: $screen-tablet) {
    display: flex;
  }


  &__img {
    padding-bottom: 27px;
    width: 100vw;
    max-width: 531px;
    max-height: 320px;
    margin-left: -16px;

    @media (min-width: $screen-tablet) {
      border-radius: 6px;
      margin-left: 48px;
      margin-right: 24px;
      max-width: 360px;
    }

    @media (min-width: $screen-square) {
      margin-right: 32px;
      max-width: 531px;
    }
  }

  &__text {
    margin-right: 16px;
    max-width: 490px;

    &-read-more {
      overflow: hidden;
      max-height: 245px;

      @media (min-width: $screen-tablet) {
        max-height: 235px;
      }

      @media (min-width: $screen-laptop) {
        max-height: 240px;
      }

      &--active{
        max-height: 100%;
      }
    }

    & + & {
      margin-top: 16px;
    }

    &--hidden {
      display: none;

      &--768 {
        @media (min-width: $screen-tablet) {
          display: block;
        }
      }

      &--1120 {
        @media (min-width: $screen-square) {
          display: contents;
        }
      }
    }
  }

  &__button {
    border: none;
    background-color: transparent;
    margin-bottom: 16px;
    transition: transform 0.5s linear;

    &:hover {
      transform: scale(1.5);  
    }

    &::before {
      content: '';
      display: inline-block;
      background-image: url('../img/icon.png');
      width: 8px;
      height: 11px;
      margin-right: 16px;
      margin-top: 24px;
    }

    
    &--rotated::before {
      transform: rotate(180deg);
      transition-duration: 1s;
    }
  }
}
