.nav {
  display: flex;
  overflow: auto;

  @media (min-width: $screen-square) {
      flex-wrap: wrap;
  }

  &::after {
    display: block;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    width: 19.31px;
    height: 40px;
    position: absolute;
    right: 0;
    content: '';

    @media (min-width: $screen-square) {
      display: none;
    }
  }
  
  &__button {
    border: none;
    white-space: nowrap;
    background-color: transparent;
    margin: 0 32px 0 0;
    padding: 10px 18px;

    &:hover {
      @include nav-active;
    }

    &, a {
      text-decoration: none;
      color: $text-color-muted;
    }

    &--active {
      @include nav-active;
    }
  }
}