.button {
  width: 2px;
  height: 32px;

  &__divider {
    &--left {
      background-color: #EAEAEA;
      margin-left: 6px;
      display: none;

      @media (min-width: $screen-tablet) {
        display: flex;
        margin-right: 4px;
        margin-left: 24px;
      }
    }
  
    &--right {
      margin-right: auto;
      background-color: #EAEAEA;

      @media (min-width: $screen-tablet) {
        margin-right: 24px;
      }
    }
  }
}