$screen-mobile: 320px;
$screen-tablet: 768px;
$screen-square: 1120px;
$screen-laptop: 1440px;

$background-main-color: #F2F2F2;
$background-icon-color: #FF3E79;
$background-header-color: #ffffff;
$background-border-color: #EAEAEA;

$font-size-regular: 16px;
$font-size-medium: 14px;
$font-size-bold: 24px;

$line-height-regular: 24px;
$line-height-medium: 20px;
$line-height-bold: 32px;
$line-height-privacy-policy: 16px;

$font-regular: 'TT Lakes', sans-serif, Arial;
$font-medium: 'TT Lakes Medium', sans-serif, Arial;
$font-bold: 'TT Lakes Bold', sans-serif, Arial;

$text-color-main: #1B1C21;
$text-color-muted: #7E7E82;
$bgColor: #24292e;
$text: #fff;

