.menu-container {
  height: 100vh;
  position: fixed;
  z-index: 9;
  overflow: scroll;

  &--hidden {
    display: none;
  }

  &--blur {
    filter: opacity(0.4) blur(8px);
    overflow: hidden;
  }
  
  @media (min-width: 1440px) {
    display: block;
  }
}